<div class="NavBarBackground">
    <div class="container-fluid">
        <div class="row Main">
            <div class="col-md-2">
                <div class="row Justify">
                    <div class="col-md-3">
                        <img class="Logo MainLogo" src="assets/Logo/Jamify1.png" alt="Logo">
                    </div>
                    <div class="col-xl-9">
                        <span class="Title">{{title}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-8">
                <div class="row Justify">
                    <div class="offset-5 col-xl-1">
                        <img class="Logo1" src="assets/Logo/settings-gear-icon.png" alt="">
                    </div>
                    <div class="col-lg-3 offset-1">
                        <img class="Logo" src="assets/Logo/avatar-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
