<div class="TaggedVideosWrapper">
    <div>
            <div class="TaggedVideoWrapperTop">

            </div>
            <a href="" class="TaggedVideoWrapper text-decoration-none">
                <i class="bi bi-hand-thumbs-up"></i>
                <span class="TaggedVideoTitle">
                    Liked Posts
                </span>
            </a>
            <a href="" class="TaggedVideoWrapper text-decoration-none">
                <i class="bi bi-save icon"></i>
                <span class="TaggedVideoTitle">
                    Saved Posts
                </span>
            </a>
            <a href="" class="TaggedVideoWrapper text-decoration-none">
                <i class="bi bi-hand-thumbs-down"></i>
                <span class="TaggedVideoTitle">
                    Disliked Posts
                </span>
            </a>
            <div class="TaggedVideoWrapperBottom">

            </div>
    </div>
</div>