<div class="container-fluid h-100">
    <div class="row main-row h-100">
        <div class="col-lg-2 col-md-0 sidebars sideL sticky-top">
            <app-hashtag-sidebar></app-hashtag-sidebar>
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-xl-5 col-md-9 col-sm-12 MainContent ">
            <app-main-content></app-main-content>
        </div>
        <div class="col-xl-3 sidebars sideR sticky-top">
            <app-right-sidebar></app-right-sidebar>
        </div>

    </div>
    
</div>
